.chevron{
    width: 100%;
}
.local-animation{
    height: 50%;
    top: unset;
}
.carousel{
    --curent-slide: 0;
    position: relative;
    overflow: hidden;
    min-height: 1400px;
    z-index: 1;
    background-color: var(--color_backg4);
}
.carousel-button .chevron
{
    animation-name: blink;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
}
.carousel-button{
    /* vertically centering the buttons */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;

    /* basic styling */
    width: 40px;
    height: 10em;
    padding: 0;
    margin: 0.5rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;

    font-size: 1.5rem;
    cursor: pointer;

    filter: invert(1);
    transition: filter 0.5s;
}
@keyframes blink
{
    0% {filter: invert(1) brightness(90%);}
    50% {filter: invert(1) brightness(10%);}
    100% {filter: invert(1) brightness(90%);}
}

/* .carousel-button:hover
{
    filter: invert(1) drop-shadow(0px 0px 8px rgba(255,255,255,255));
}
.carousel-button.next {
    /* The "next slide button" will be at the right * /
    right: 0;
}
.carousel-button.previous{
    transform: scaleX(-1) translateY(-50%);
} */

.carousel-slides {
    display: flex;
    height: 100%;
    transition: transform 0.75s;
    transform: translateX(calc(-100% * var(--current-slide)));
}
.slide{
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    color: black;
}

.panel{
    display: flex;
    width: 100%;
    min-height: 700px;
}

.centered-div{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.left-half{
    /* display: flex; */
    width: 50%;
    height: inherit;
    position: relative;
    left: 0;
}
.right-half{
    width: 50%;
    height: inherit;
    position: relative;
    right: 0;
}

.three-col{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.three-col > .centered-div{
    width: 33%;
    padding: 0 5%;
}

ul{
    padding-left: 20px;
}
ul li, p{
    font-size: 25px;
    list-style-type: none;
}
canvas
{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    /* transform: scale(5); */
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
.three-box-div{
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.three-box-div > .project-box{
    position: relative;
    width: 20%;
    min-width: 350px;
    max-width: 500px;
    height: 450px;
    border-radius: 50px;
}
.thumb{
    position: relative;
    display: flex;
    width: 100%;
    height: inherit;
    filter: blur(0px) brightness(100%);
    transition: filter 1s;
}
.thumb h2{
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 40px;
    color: var(--color_text2);
    text-shadow: 3px 3px 15px black, -3px -3px 15px black, -3px 3px 15px black, 3px -3px 15px black ;
    transform: translateY(30%);
    transition: all 1s;
}
.detail{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: var(--color_text1);
    z-index: 1;
    filter: opacity(0%);
    transition: filter 1s;
    text-align: center;
    width: 96%;
    height: 100%;
    padding: 0 2% 0 2%;
}
.detail > h2{
    font-weight: normal;
    font-size: 40px;
}
.detail > h3{
    font-weight: normal;
    font-size: 25px;
}
.detail > h4{
    font-weight: bold;
    font-size: 25px;
    transition: 0.5s;
    color: var(--color_text2);
}
.detail > h4:hover{
    font-weight: bold;
    font-size: 27px;
}
.project-box:hover .detail{
    filter: opacity(100%);
    cursor: pointer;
}
.project-box:hover .thumb h2{
    filter: opacity(0%);
}

.pop-up{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.411);
    animation-name: fade;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    z-index: 20;
}
@keyframes fade
{
    0% {filter: opacity(0);}
    100% {filter: opacity(1);}
}
.pop-up-message{
    position: relative;
    top: 5%;
    left: 12.5%;
    background-color: var(--color_backg3);
    border-radius: 50px;
    padding: 50px 0px;
    width: 75%;

    text-align: center;
    color: var(--color_text2);
}
.pop-up-message a{
    text-decoration: none;
    color: var(--color_text1);
}
.pop-up-message button
{
    width: 25%;
    min-width: 200px;
    height: 50px;
    font-size: 180%;
    background-color: var(--color_backg2);
    border-radius: 50px;
    border-color: var(--color_text5);
    border-style: solid;
    transition: all 0.5s;
}
.pop-up-message button:hover
{
    transform: scale(1.1);
    background-color: var(--color_backg1);
}

@media screen and (max-width: 1200px){
    .right-half, .left-half{
        width: 100%;
        height: 100%;
        padding: 0 10px;
    }
    img.right-half, img.left-half, .img-panel{
        width: 0;
        height: 0;
        bottom: 0;
        padding: 0;
    }
    .three-box-div{
        flex-direction: column;
        justify-items: center;
        align-items: center;

    }
    .three-box-div > .project-box{
        width: 90%;
        margin: 0 5%;
        height: 100px;
        transition: height 1s;
    }
    .detail{
        width: 96%
    }
    .project-box:hover{
        height: 360px;
    }
}

@media screen and (max-width: 900px){
    .three-col{
        height: auto;
        flex-direction: column;
    }
    .three-col > .centered-div{
        width: 75%;
        padding-top: 50px;
    }
}
@media screen and (max-width: 600px){
    ul li, p{
        font-size: 23px;
    }
    .thumb h2{
        font-size: 36px;
    }
}