.carousel{
    --curent-slide: 0;
    position: relative;
    overflow: hidden;
    height: 100%;
    z-index: 1;
    background-color: var(--color_panel);
}
.carousel-button .chevron
{
    animation-name: blink;
    animation-duration: 3000ms;
    animation-iteration-count: infinite;
}
.carousel-button{
    /* vertically centering the buttons */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;

    /* basic styling */
    width: 40px;
    height: 10em;
    padding: 0;
    margin: 0.5rem;
    border-radius: 50%;
    background-color: transparent;
    border: none;

    font-size: 1.5rem;
    cursor: pointer;

    filter: invert(1);
    transition: filter 0.5s;
}
@keyframes blink
{
    0% {filter: invert(1) brightness(90%);}
    50% {filter: invert(1) brightness(10%);}
    100% {filter: invert(1) brightness(90%);}
}

/* .carousel-button:hover
{
    filter: invert(1) drop-shadow(0px 0px 8px rgba(255,255,255,255));
}
.carousel-button.next {
    /* The "next slide button" will be at the right * /
    right: 0;
}
.carousel-button.previous{
    transform: scaleX(-1) translateY(-50%);
} */

.carousel-slides {
    display: flex;
    height: 100%;
    min-height: 100%;
    transition: transform 0.75s;
    transform: translateX(calc(-100% * var(--current-slide)));
}
.slide{
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    color: var(--color_text);
    height: 100%;
    width: 100%;
}

.panel{
    display: flex;
    width: 100%;
    min-height: 100vh;
}

.paded-half
{
    padding: 0 25px 0 25px;
}

.centered-div{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}
.left-half{
    /* display: flex; */
    width: 50%;
    height: inherit;
    position: relative;
    left: 0;
}
.right-half{
    width: 50%;
    height: inherit;
    position: relative;
    right: 0;
}
.top-one{
    min-height: 280px;
}

.three-col{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.three-col > .centered-div{
    width: 33%;
    padding: 0 5%;
}

ul{
    padding-left: 20px;
}
ul li, p{
    font-size: 25px;
    list-style-type: none;
}
canvas
{
    position: absolute;
    top: 0;
    height: 100%;
    max-height: 100%;
    width: 100%;
    z-index: -1;
    /* transform: scale(5); */
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
.three-box-div{
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}
.three-box-div > .project{
    position: relative;
    width: 20%;
    min-width: 350px;
    max-width: 500px;
    height: 450px;
    border-radius: 50px;
}
.thumb{
    position: relative;
    display: flex;
    width: 100%;
    height: inherit;
    filter: blur(0px) brightness(100%);
    transition: filter 1s;
}
.thumb h2{
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 40px;
    color: var(--color_alt_text);
    text-shadow: 3px 3px 15px black, -3px -3px 15px black, -3px 3px 15px black, 3px -3px 15px black ;
    transform: translateY(30%);
    transition: all 1s;
}
.detail{
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: var(--color_alt_text);
    z-index: 1;
    filter: opacity(0%);
    transition: filter 1s;
    text-align: center;
    width: 96%;
    height: 100%;
    padding: 0 2% 0 2%;
}
.detail > h2{
    font-weight: normal;
    font-size: 40px;
}
.detail > h3{
    font-weight: normal;
    font-size: 25px;
}
.detail > h4{
    font-weight: bold;
    font-size: 25px;
    transition: 0.5s;
    color: var(--color_alt_text);
}
.detail > h4:hover{
    font-weight: bold;
    color: var(--color_text);
    text-shadow: 0px 0px 10px var(--color_alt_text);
}
.project:hover .detail{
    filter: opacity(100%);
    cursor: pointer;
}
.project:hover .thumb h2{
    filter: opacity(0%);
}

.pop-up{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.411);
    animation-name: fade;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    z-index: 20;
}
@keyframes fade
{
    0% {filter: opacity(0);}
    100% {filter: opacity(1);}
}

.contact{
    /* box-shadow: rgba(0, 0, 0, 1) 0px 22px 70px 4px; */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.21);
}
.contact *{
    margin: 10px 0 10px 0;
    min-width: 200px;
    max-width: 300px;
}

.call-button
{
    height: 40px;
    width: 160px;
    font-size: 20px;
    font-weight: bolder;
    color: var(--color_text);
    background-color: var(--color_panel);
    border-color: var(--color_text);
    border-style: solid;
    border-radius: 100px;
    transition: all;
    transition-duration: var(--transit_duration);
}
.call-button:hover
{
    transform: scale(1.15);
    filter: invert(1);
    cursor: pointer;
}
.call-button:active
{
    background-color: var(--color_text);
}
.contact img{
    filter: drop-shadow(0px 0px 16px rgba(255,255,255,0.75));
}
.contact h2, .contact h3{
    text-shadow: 0px 0px 16px rgba(255,255,255,0.75);
}

.thumb img{
    border-radius: 50px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project:hover .thumb{
    filter: blur(3px) brightness(50%);
}

@media screen and (max-width: 700px) {
    .panel{
        flex-direction: column;
    }
    .top-one, .bottom-one{
        width: 100%;
        height: 100%;
    }

    div.right-half li, div.left-half li, div.right-half p, div.left-half p{
        font-size: 20px;
    }
    div.left-half img{
        margin-top: 0px;
    }
}