
.intro{
    height: 100%;
    justify-content: center;
    color: var(--color_text2);
}
#rain
{
    filter: hue-rotate(90deg);
}

#about1{
    background-color: var(--color_backg3);
    color: var(--color_text2)
}
#about1 > div.left-half{
    display: flex;
    align-items: center;
    justify-content: center;
}
#about1 > div.left-half img{
    width: 600px
}

#about2{
    background-color: var(--color_backg4);
    color: var(--color_text1)
}
#about2 > .left-half > *{
    text-align: center;
}
#about2 > .left-half p{
    text-align: justify;
    padding: 0% 3.5%;
}

#projects1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    height: 100%;
    background-color: var(--color_backg2);
    color: var(--color_text1); 
}

#projects1 > h1, #projects1 p {
    color: var(--color_text5);
}
#projects1 .centered-div h1{
    color: var(--color_text4);
}
#projects1 p > img{
    height: 36px;
}

#projects2{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#projects2 > h1{
    color: var(--color_text2);
}
.thumb img{
    border-radius: 50px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project-box:hover .thumb{
    filter: blur(3px) brightness(50%);
}

@media screen and (max-width: 1200px)
{
    #about1 > .left-half{
        width: 0;
        height: 0;
    }
}
@media screen and (max-width: 900px){
    #projects1 
    {
        padding-top: 150px;
        padding-bottom: 200px;
    }
}
@media screen and (max-width: 600px)
{
    #projects1 p > img{
        height: 25px;
    }
}