
#intro{
    height: 100%;
    justify-content: center;
    color: var(--color_alt_text);
}
#intro h1, .intro h2
{
    text-shadow: 0px 0px 3px var(--color_text);
}
#rain
{
    filter: hue-rotate(90deg);
}

#contact{
    width: 100%;
}
#contact > h1{
    padding: 0 10px 0 10px;
}
#contact .three-box-div{
    height: auto;
}
#contact .container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

#about > div.left-half{
    display: flex;
    align-items: center;
    justify-content: center;
}
#about > div.left-half img{
    width: 90%
}

#grad_em > .left-half > *{
    text-align: center;
}
#grad_em > .left-half p{
    text-align: justify;
    padding: 0% 3.5%;
}

#grad_gd > .right-half > *{
    text-align: center;
}
#grad_gd > .right-half p{
    text-align: justify;
    padding: 0% 3.5%;
}
#grad_gd > div.left-half > img{
    width: 80%
}

@media screen and (max-width: 1300px) {

}
@media screen and (max-width: 1100px) {

}
@media screen and (max-width: 900px) {
    #contact .contact h2, #contact .contact h3 {
        font-size: 0.90em;
    }
    #contact .contact .call-button{
        min-width: 50px;
    }

    #about > div.right-half li{
        font-size: 18px;
    }
}
@media screen and (max-width: 700px) {
    #intro{
        height: 320px;
    }
    
    #contact h1{
        margin-top: 25px;
        margin-bottom: 75px;
    }
    #contact .three-box-div{
        flex-direction: column;
    }
    #contact .contact h2, #contact .contact h3 {
        font-size: 1.5em;
    }
    #contact .contact .call-button{
        min-width: initial;
    }
    
    #about, #grad_gd{
        flex-direction: column-reverse;
    }
    #about .paded-half, #grad_em .paded-half, #grad_gd .paded-half{
        padding: 0;
        width: 98%;
    }

    #grad_em > div.top-one{
        margin-top: 50px;
    }
    #grad_em > div.top-one > p{
        margin-top: 50px;
    }
    
    #grad_gd > div.left-half > img{
        width: 60%;
    }
}
@media screen and (max-width: 400px) {
    #contact h1{
        font-size: 40px
    }
    #contact .contact h2, #contact .contact h3 {
        font-size: 1.1em;
    }
    
    #grad_em > div.top-one{
        margin-top: 30px;
    }
    #grad_em > div.top-one > p{
        margin-top: 40px;
    }
}