
.intro{
    height: 100%;
    justify-content: center;
    color: var(--color_text2);
}
#rain
{
    filter: hue-rotate(90deg);
}

#about1{
    background-color: var(--color_backg3);
    color: var(--color_text2)
}
#about1 > div.left-half{
    display: flex;
    align-items: center;
    justify-content: center;
}
#about1 > div.left-half img{
    width: 600px
}

#about2{
    background-color: var(--color_backg4);
    color: var(--color_text1)
}
#about2 > .right-half > *{
    text-align: center;
}
#about2 > .right-half p{
    text-align: justify;
    padding: 0% 3.5%;
}

#projects1{
    background-color: var(--color_backg2);
    color: var(--color_text1); 
}

#projects1 > .left-half > *{
    color: var(--color_text4);
    margin: 0px 30px 0px 30px;
}
#projects1 > .right-half
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 5%;
    max-width: 700px;
    min-width: 300px;
    top: 20px;
}
#projects1 > .right-half .image_col
{
    flex: 25%;
    max-width: 25%;
    min-width: 25%;
    padding: 0px 4px;
}
#projects1 > .right-half > .image_col img
{
    margin-top: 20%;
    vertical-align: middle;
}

#projects1 > .centered-div{
    justify-content: space-evenly;
    text-align: center;
}

#projects2{
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
#projects2 > h1{
    color: var(--color_text2);
}
.thumb img{
    border-radius: 50px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project-box:hover .thumb{
    filter: blur(3px) brightness(50%);
}

@media screen and (max-width: 1200px)
{
    #projects1 > .right-half
    {
        padding: 0;
        margin-left: 0;
        min-width: 0;
    }
    #about1 > .left-half{
        width: 0;
        height: 0;
    }
}